.btn {
    --color: #13290a;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  .btn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  .btn:hover::before {
    top: -30px;
    left: -30px;
  }

  .container-boton{
    display: flex;
    justify-content: center;
  }

  .nuestro-menu, .nuestro-servicio, .galeria-eventos{
    padding-top: 60px;
  }

  .galeria-eventos > .container-boton > .btn{
    margin-top: 15px;
  }

  /*Media query para pantallas medianas*/
@media (min-width: 601px) and (max-width:1024px) {
  .btn{
    padding: 0.4em 1.4em;
  }
}

/*Media query para pantallas pequeñas*/
@media (max-width: 600px) {
  .btn{
    padding: 0.2em 1.2em;
  }
}
